<!--
<div class="container">
    <h2>View Students</h2>
    Search: <br />

    <input type="text" ng-model="name"> <br />
    <ul>
        <li ng-repeat="student in students | filter:name">
            {{student.name}}, {{student.city}}
        </li>
    </ul>

    <a href="#/home">Home</a>
</div>
-->
<!--
<div id="navDiv">
    <div id="navDivInner">
        <ul class="nav nav-danger nav-pills">
            <li id="li1"><a href="#/home">Home</a></li>
            <li id="li2" class="active"><a href="#/about">About</a></li>
            <li id="li3"><a href="#/projects">Projects</a></li>
            <li id="li4"><a href="#/philosophy">Philosophy</a></li>
        </ul>
    </div>
</div>
-->
<div class="parallax parallax2">
    <p class="textOnBg">About Me</p>
</div>
<div id="aboutDiv">
    <div class="welcomeInfo">
        <img src="../images/rose.jpg"/>
        <p id="welcomeText">
            I have always been passionate about solving problems through math.  I am also passionate for learning 
            new technology trends.  I chose to pursue a Computer Science degree to fulfill both of those passions. 
            Despite having no programming experience before college, I have learned quickly and thus have excelled 
            both in classes and in industry.  I will be graduating in May of 2018 and look forward to applying my
            newfound skills both in an internship this coming summer and in a full time job after graduation.
        </p>
    </div>
    <div class="welcomeInfo">
        <img src="../images/RC.png"/>
        <div id="secondAbout">
            <p class="secondAPara">
                My experiences have prepared me for a Computer Science career:
            </p>
            <ul style="margin-left:2%;">
                <li><b>Rockwell Collins:</b> Updated the testing framework from manual to automated</li>
                <li><b>Coursework:</b>  <ul>
                                            <li>Data Structures and Algorithm Analysis, Deep Learning</li>
                                            <li>Programming Language Concepts, Web Development</li>
                                            <li>Object-Oriented Software Development, Database Systems</li>
                                        </ul></li>
                <li><b>Other:</b> Made this website and member of Rose Programming Team</li>
            </ul>
            <p class="secondAPara">
                For more information about me check out my resume: <a href="../resources/JoshuaLaeschResume.pdf" target="_blank" class="btn btn-default but">Resume</a>
            </p>
        </div>
    </div>
</div>
<div class="parallax parallax2"></div>