<!--
<div id="navDiv">
    <div id="navDivInner">
        <ul class="nav nav-danger nav-pills">
            <li id="li1" class="active"><a href="#/home">Home</a></li>
            <li id="li2"><a href="#/about">About</a></li>
            <li id="li3"><a href="#/projects">Projects</a></li>
            <li id="li4"><a href="#/philosophy">Philosophy</a></li>
        </ul>
    </div>
</div>
-->
<div class="parallax parallax1">
    <p class="textOnBg">Joshua Laesch</p>
</div>
<div id="openingDiv">
    <h1>Welcome!</h1>
    <div class="welcomeInfo">
        <img src="../images/prof_pic.jpeg"/>
        <p id="welcomeText">
            Welcome and thank you for taking the time to learn more about me.  My name is Joshua Laesch 
            and I am a Computer Science major at Rose-Hulman Institute of Technology.  To see some artifacts
            from previous projects of mine go to the Projects tab.  My resume and more information about me
            is under the About tab. To see my communication philosophy go to the Philosophy tab.
        </p>
    </div>
<!--
    <p>Welcome and thanks for coming to my website.  I'm really excited to tell you more about me!
       I am a Junior at Rose-Hulman Institute of Technology.  I am a Computer Science major as you
       probably have guessed since you are on my personally built website.  I am looking for a Spring/
       Summer Co-op if offered and if not then am more than happy with a summer internship.  I believe
       in the saying work hard, play hard.  I devote much of my time to my studies here at Rose but 
       when I get everything on my to do list I love to unwind.  
    </p>
-->
</div>
<div class="parallax parallax1"></div>