body, html {
    height: 100%;
}

#app {
    height: 100%;
    font-size: 22px;
    font-family: bodoni;
}

#all_content {
    width: 100%;
    height: 100%;
}

#map_cali_midwest {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    display: block;
}

img {
    width: 100%;
    height: 100%;
}

.my_thumbnail {
    width: 5%;
    height: auto;
    z-index: 1;
    padding: 10px;
    position: absolute;
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);

    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.my_thumbnail:hover {
    -webkit-transform:scale(1.4); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.4);
    cursor: pointer;
}

#nav {
    position: fixed;
    padding: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#nav ul li a{
    color: #111;
    font-size: 14px;
    border: 0px solid black;
    border-radius: 5px;
}

#nav ul li {
    border: 1px solid black;
    border-radius: 5px;
    background-color: darkgrey;
}

#nav ul li:hover {
    cursor: pointer;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 50%;
    background-image: url("../images/black_bg.jpg");
}

.textOnBg {
    text-align: center;
    font-size: 22px;
    color: darkgrey;
    margin-left: 15%;
    max-width: 70%;

    height: 100%;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */
}

#big {
    font-size: 80px;
}
